
pandas==1.4.2
pytest==6.2.4
scikit-image==0.18.3
scikit-learn==1.0.2
dataexploration
statsmodels==0.12.2
stemming==1.0.1
streamlit==1.10.0
streamlit-aggrid==0.2.3.post2
streamlit-folium==0.6.12
streamlit-lottie==0.0.3
streamlit-option-menu==0.3.2
streamlit-tags==1.2.8
