plotly
pandas
pytest
scikit-image
scikit-learn
dataexploration
statsmodels
stemming
streamlit
streamlit-aggrid
streamlit-folium
streamlit-lottie
streamlit-option-menu
streamlit-tags
matplotlib
seaborn
scipy
numpy
time
sklearn
pickle
